<!DOCTYPE html>
<html lang="hu">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Versenyek</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <h1>Versenyek</h1>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>azonosító</th>
            <th>verseny neve</th>
            <th>verseny hossza (Km)</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="verseny : ${verseny}">
            <td th:text="${verseny.versenyId}"></td>
            <td th:text="${verseny.versenyName}"></td>
            <td th:text="${verseny.versenyLength}"></td>
            <td>
                <a th:href="@{/verseny/{id}(id=${verseny.versenyId})}" class="btn btn-primary">View</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>
